*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#table{
    position: relative;

    width: 100vw;
    height: 100vh;

    background-color: rgb(25, 124, 0);

    overflow: hidden;
}

.prop,.props{
    cursor: grab;

    position: absolute;

    width: 100px;
    height: 100px;

    transition: ease-out 0.2s;
    transform-origin: center;
    background-repeat: no-repeat;
}