*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}
ul,li{
    list-style: none;
}
body{
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: black;
}
#table{
    position: relative;

    width: 1600px;
    height: 900px;

    background-color: rgb(25, 124, 0);

    overflow: hidden;
}

.prop,.props{
    cursor: grab;

    position: absolute;

    display: flex;
    justify-content: flex-end;

    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    width: 100px;
    height: 100px;

    transition: ease-out 0.2s;
    transform-origin: center;
    background-repeat: no-repeat;
}
.contextMenu{
    transition: 0.5s;

    position: absolute;

    display: flex;
    flex-direction: column;

    width: 200px;
    height: auto;

    padding: 10px;

    background-color: white;

    border-radius: 5px;

    box-shadow: 0px 2px 1px 1px #000000AA;

    z-index: 2000;
}
.contextMenu p{
    text-align: center;
    width: 100%;

    padding: 5px;

    border-bottom: 1px solid #EEEEEE;
}
.contextMenu p:last-child{
    border-bottom: none;
}

/* #roomList{
    position: fixed;

    display: none;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #00000099;
    z-index: 5000;
}
#roomList ul{
    width: 800px;
    height: 600px;

    background: white;

    border-radius: 10px;

    box-shadow: 0px 0px 10px 1px black;

    overflow: hidden;
}
#roomList li{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100px;

    padding: 10px;

    border-bottom: 1px solid #EEEEEE;
}
#roomList li:hover{
    background-color: #EEEEEE;
} */
